# Packages:
matplotlib, pandas, numpy, yfinance

In [9]:
!pip install pandas matplotlib numpy yfinance tensorflow --quiet

## Importing packages

In [7]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import tensorflow as tf

#### Loading CSV into memory.

In [3]:
dataset = pd.read_csv(
    "H:\\Windows\\documents\\trading\\machine_learning\\data\\EURUSD_GMT+0_US-DST2018-2024.csv", # Path to CSV Tick historical data.
    names = ['time', 'bid', 'ask']
    )

dataset.head()

                      time      bid      ask
0  2018.04.15 22:00:12.838  1.23278  1.23360
1  2018.04.15 22:00:17.172  1.23297  1.23360
2  2018.04.15 22:00:19.074  1.23297  1.23361
3  2018.04.15 22:00:46.008  1.23297  1.23350
4  2018.04.15 22:01:02.081  1.23303  1.23350

#### Checking data types.

In [4]:
dataset.dtypes

time     object
bid     float64
ask     float64
dtype: object

In [8]:
if tf.config.list_physical_devices('GPU'):
  print("TensorFlow **IS** using the GPU")
else:
  print("TensorFlow **IS NOT** using the GPU")

TensorFlow **IS NOT** using the GPU